name: CI/CD
on:
  pull_request: {}
  push:
    branches:
    - main
  workflow_dispatch: {}

jobs:

  setup:
    name: Setup
    runs-on: ubuntu-24.04
    outputs:
      run-techdocs-ci: ${{ steps.changes.outputs.techdocs == 'true' || steps.changes.outputs.devtools == 'true' || github.event_name == 'workflow_dispatch' }}
      validate-policy-bot-config: ${{ steps.changes.outputs.policy-bot == 'true' }}
    steps:
    - uses: actions/checkout@v6
    - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36   # pin@v3
      id: changes
      with:
        list-files: json
        filters: |
          techdocs:
            - 'docs/**'
          devtools:
            - 'devtools/Dockerfile'
            - '.github/workflows/**'
            - 'docker-compose.yaml'
          policy-bot:
            - '.policy.yml'
    - name: Debug ...
      run: |
        echo "::${{ steps.changes.outputs }}"
    permissions:
      contents: read
      pull-requests: read

  policy-bot:
    name: Validate policy-bot configuration
    needs: setup
    if: needs.setup.outputs.validate-policy-bot-config == 'true'
    uses: coopnorge/github-workflow-policy-bot-config-validation/.github/workflows/policy-bot-config-validation.yaml@v0
    permissions:
      contents: read
    secrets:
      policy-bot-server-url: ${{ secrets.POLICY_BOT_BASE_URL }}

  techdocs:
    needs: ["setup"]
    if: ${{ needs.setup.outputs.run-techdocs-ci == 'true'}}
    concurrency:
      group: ${{ github.repository }}-${{ github.workflow }}-techdocs-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: read
    name: TechDocs
    uses: coopnorge/github-workflow-techdocs/.github/workflows/techdocs.yaml@v0

  build:
    needs:
    - techdocs
    - policy-bot
    if: always()
    runs-on: ubuntu-24.04
    steps:
    - run: exit 1
      name: "Catch errors"
      if: ${{ contains(join(needs.*.result, ','), 'failure') || contains(join(needs.*.result, ','), 'cancelled') }}
    permissions: {}
